@charset "utf=8";


/* linear gradiance */
/* html {
    background: linear-gradient(maroon 25%, gold 75%, black 95%);
    height: 100%;
} */


/* Radial Gradiance */
html {
    background: radial-gradient(ellipse closest-corner at center, red, yellow, blue, maroon, teal, pink, green);
    height: 100%;
}